body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #00a2c6;
}

h3 {
  color: #00a2c6;
}

footer {
  padding: 20px;
  color: white;
  background-color: #00a2c6;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.logo-bandung {
  display: flex;
  justify-content: center;
  text-align: center;
}

figure img {
  width: 200px;
}

nav a:hover {
  font-weight: bold;
}

.featured-image {
  width: 100%;
  max-height: 300px;
}

nav a {
  text-decoration: none;
  color: white;
}

footer {
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
.jumbotron {
  font-size: 20px;
  padding: 60px;
  text-align: center;
  color: white;
  background-color: #33ccff;
}

nav ul {
  margin: 0px;
  background-color: #2db7e5;
  padding: 20px 50px;
}

nav li {
  display: inline;
  margin-right: 20px;
}

/* Table */

th {
  text-align: left;
}

td {
  text-align: left;
}
